.crawl-section {
    display: flex;
    justify-content: center;
    perspective:250px;
    color: #feda4a;
    font-size: 60px;
    font-weight: 600;
    line-height: 150%;
    text-align: justify;
  }

  .crawl-div {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 50s linear;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
