.button-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.data-button {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin: 10px;
    width: 100px;
}

.data-button:hover {
    background-color: white;
    color: black;
}