.App {
  text-align: center;
}

.App-header {
  font-size: 36px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.data-button {
  background: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  width: 100px;
}

.data-button:active {
  background-color: #EB544D;
  outline: none;
}

.data-button:hover {
  background-color: #EB544D;
}
