*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
}

hr {
    margin:0 auto;
    text-align: center;
    width: 60%;
}

.person-card {
    background-color: #ffffff;
    border: 2px solid #D6D6D6;
    display: inline-block;
    height: 400px;
    left: 15px;
    margin: 3px;
    position: relative;
    width: 340px;
}

.person-name {
    color: rgba(255,255,255);
    margin: none;
    text-align: center;
    text-shadow: 4px 4px #000;
}

.name-section {
    background-image: url('../assets/peopler-header-section.jpg');
    background-size: cover;
    font-size: 36px;
    height: 125px;
    padding-top: 50px;
}

.content-div{
    margin: 15px;
}

.description-title{
    color: #EB544D;
    margin-bottom: 1%;
}

.description-content {
    font-size: 24px;
}